body {
    margin: 0;
    box-sizing: border-box;
}

section {
    background-color: #111111;
    color: white;

    width: 100vw;
    height: 6rem;
}

.section {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);

    width: 90vw;
    height: 6rem;

    overflow-x: hidden;
}

section h1 {
    position: absolute;
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
}

section p {
    position: absolute;
    left: 25em;

    margin-top: 3.2em;

    font-size: 0.625rem;
    font-weight: 400;
}

.vector {
    position: absolute;
    right: 0;

    margin-top: 0.8em;
    margin-bottom: 0;
}

.progressiebar {
    position: absolute;
    margin-top: 2.3em;
}