html { 
    overflow-y: scroll; overflow-x:hidden; 
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;

    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow: hidden;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* bovenste gedeelte */
section {
    position: fixed;
    top: 0;
    z-index: 50;
    background-color: var(--bg-primary);
    width: 100vw;
    height: 5rem;
    border-bottom: 1px solid #2F2F2F;
}

.section {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 90vw;
    height: 5em;
}

section h1 {
    font-family: var(--ff-calvino);
    position: absolute;
    font-size: 1.5em;
    width: auto;
    margin-top: 0;
}

section p {
    font-family: var(--ff-figtree);
    position: absolute;
    left: 24em;
    width: auto;
    margin-top: 3.2em;
    font-size: 0.625rem;
    font-weight: 400;
}

.vector {
    position: absolute;
    right: 0;
    margin-top: 0.8em;
    margin-bottom: 0;
}

.progressiebar {
    position: absolute;
    margin-top: 2.3em;
}

/* menu */
.menu {
    background-color: var(--bg-primary);
    position: fixed;
    top: -11em;
    height: 11em;   
    width: 100vw; 
    z-index: 20;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    font-family: var(--ff-figtree);
    font-size: 0.8em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.hoogte {
    top: 5rem;
}

.aanvaarden {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70px;
}

.doorvoelen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70px;
}

.verandering {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70px;
}

.verdergaan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70px;
}

/* middelste gedeelte */
header {
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconblauw {
    width: 15em;
    margin-top: 2em;

}

header h2 {
    margin: 0.5em;
}

header p {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff-figtree);
    color: var(--text-secondary);
}

.bluemesh1 {
    position: absolute;
    scale: 80%;
    left: -10em;
    filter: blur(5rem);
    opacity: 60%;
    z-index: -1;
}

.bluemesh2 {
    position: absolute;

    scale: 80%;
    right: -10em;
    filter: blur(5rem);
    opacity: 60%;
    z-index: -1;
}

/* oefeningen */
.oefeningen {
    height: 100vh;
    padding: 1em;
    margin-top: 7em;
    background-color: #1D1D1D;
    border-radius: 2em;
}

.card {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--bg-primary);
    border-radius: 1em;
    height: 20em;
    max-width: 28em;
}

.bluewaves {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 50%;
}

.startoefening {
    position: absolute;
    right: 2em;
    top: 9.5em;
    font-size: 0.9rem;
    color: var(--text-primary);
    padding: var(--pill-btn-padding);
    border-radius: var(--pill-btn-border-radius);
    border: var(--btn-border);
    background-color: var(--btn-rouwtaak-1);
    text-decoration: none;
}

.lezen {
    font-weight: var(--fw-regular);
    font-family: var(--ff-figtree);
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 0.5em;
}

.card h2 {
    font-weight: var(--fw-bold-heading);
    font-family: var(--ff-calvino);
    font-size: 24px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.communitydrops {
    padding: 3px 50px;
    font-family: var(--ff-figtree);
    border: 1px solid var(--inactive-color);
    border-radius: var(--pill-btn-border-radius);
    font-size: 16px;
    color: var(--text-primary);
    margin-left: 20px;
    text-decoration: none;
}

.tijd {
    padding: 3px 15px;
    font-family: var(--ff-figtree);
    border: 1px solid var(--inactive-color);
    border-radius: var(--pill-btn-border-radius);
    font-size: 16px;
    color: var(--text-primary);
    margin-left: 20px;
    margin-top: 0.5rem;
    width: fit-content;
}

.tijd img {
    margin-right: 0.5em;
}

/* nav */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    position: fixed;
    bottom: 0;
    background-color: var(--bg-primary);
    width: 100vw;
    height: 5em;
    border-top: 1px solid #2F2F2F;
}

.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    font-family: var(--ff-figtree);
    font-size: 13px;
}

.vandaag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vandaag a {
    margin: 0.5em;

}

.praten {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.praten a {
    margin: 0.5em;
    color: var(--text-secondary);
}

.drops {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drops a {
    margin: 0.5em;
    color: var(--text-secondary);
}

.profiel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiel a {
    margin: 0.5em;
        color: var(--text-secondary);
}